<div class="panel panel-success">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row" >
            <img src="./app/assets/images/logo.jpg" 
                 class="img-responsive center-block"
                 style="max-height:300px;padding-bottom:50px"/>
        </div>
        <div class="row text-center">
            <p>
                A sample application developed to share basic front-end filters with Angular 4
            </p>
            <h3><a href="/locations">Click here to start</a></h3>
        </div>
        <div class="row"  >
            <div class="text-center">Developed by:</div>
            <h3 class="text-center">Haby-Phael Mouko</h3>

            <div class="text-center"> @habyphael</div>
            <div class="text-center">
                <a href="https://github.com/habyphael" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="https://twitter.com/HabyPhael" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/habyphael/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>